Flask==3.1.1
gunicorn==23.0.0

google-cloud-logging==3.12.1
google-cloud-asset

PyYAML==6.0.2
jsonschema==4.25.0

pydantic==2.11.7

python-dotenv

google-api-python-client
google-cloud-compute
google-cloud-bigquery>=3.11.0
google-cloud-storage>=2.10.0
google-cloud-resource-manager>=1.14.0
google-cloud-kms
google-cloud-pubsub>=2.19.0
requests>=2.31.0
google-cloud-container>=2.35.0
google-cloud-run>=0.10.0
google-cloud-artifact-registry>=1.11.0
google-cloud-functions>=1.13.0
google-cloud-aiplatform>=1.38.0
google-cloud-dataplex>=1.10.0
google-cloud-appengine-admin>=1.4.0
google-cloud-redis>=2.15.0
google-cloud-monitoring>=2.20.0
google-cloud-dataform>=0.8.0
google-cloud-alloydb>=0.3.0
google-cloud-dns>=3.5.0


google-cloud-artifact-registry
google-cloud-container
google-cloud-asset
google-cloud-secret-manager>=2.23.0
google-cloud-api-keys
google-cloud-appengine-admin
google-cloud-functions>=1.20.0
google-cloud-tasks>=2.18.0